.SVNK-RepoBrowser-Icon {
    list-style-image: url("chrome://SVNK/skin/images/RepoBrowser.ico");
}

.SVNK-Commit-Icon {
    list-style-image: url("chrome://SVNK/skin/images/Commit.ico");
}

.SVNK-Diff-Icon {
    list-style-image: url("chrome://SVNK/skin/images/Diff.ico");
}

.SVNK-Properties-Icon {
    list-style-image: url("chrome://SVNK/skin/images/Properties.ico");
}

.SVNK-Log-Icon {
    list-style-image: url("chrome://SVNK/skin/images/Log.ico");
}