.SVNK-RepoBrowser-Icon {
    list-style-image: url("chrome://svnk/skin/images/repobrowser16x16.png");
}

.SVNK-Commit-Icon {
    list-style-image: url("chrome://svnk/skin/images/commit16x16.png");
}

.SVNK-CommitProject-Icon {
    list-style-image: url("chrome://svnk/skin/images/commitProject16x16.png");
}

.SVNK-Update-Icon {
    list-style-image: url("chrome://svnk/skin/images/update16x16.png");
}

.SVNK-UpdateProject-Icon {
    list-style-image: url("chrome://svnk/skin/images/updateProject16x16.png");
}

.SVNK-Diff-Icon {
    list-style-image: url("chrome://svnk/skin/images/diff16x16.png");
}

.SVNK-Properties-Icon {
    list-style-image: url("chrome://svnk/skin/images/properties16x16.png");
}

.SVNK-Log-Icon {
    list-style-image: url("chrome://svnk/skin/images/log16x16.png");
}

.SVNK-Rename-Icon {
    list-style-image: url("chrome://svnk/skin/images/rename16x16.png");
}

.SVNK-Delete-Icon {
    list-style-image: url("chrome://svnk/skin/images/delete16x16.png");
}

.SVNK-Revert-Icon {
    list-style-image: url("chrome://svnk/skin/images/revert16x16.png");
}

.SVNK-standardDialog-width {
    width:400px;
}

.SVNK-standardPartDialog-width {
    width:300px;
}

.SVNK-standardDialog-Margin {
    margin:5px;
}

.SVNK-dialogWhiteBox {
    background-color:#ffffff;padding:5px;border:1px solid #999999;
}

.SVNK-dialog-bigger {
    font-size: larger;
}

.SVNK-dialog-smaller {
    font-size: 0.9em;
}

.SVNK-option-toolbar-checkbox {
    margin-left:20px;
}

.preferences-SVNK-pathToProc-textbox {
    width:350px;
}

pre.plain {
    padding:5px; font-family: sans-serif;
}

separator.groove-thin {
    border-top: 1px solid #999999;
    margin-top:5px;margin-bottom:10px;
}

treechildren::-moz-tree-row(red1) {
    background-color: #ff9999;
}

treechildren::-moz-tree-row(yellow1) {
    background-color: #ffff99;
}