.koSVN_RepoBrowser_Icon {
    list-style-image: url("chrome://koSVN/skin/images/RepoBrowser.ico");
}

.koSVN_Commit_Icon {
    list-style-image: url("chrome://koSVN/skin/images/Commit.ico");
}

.koSVN_Diff_Icon {
    list-style-image: url("chrome://koSVN/skin/images/Diff.ico");
}

.koSVN_Properties_Icon {
    list-style-image: url("chrome://koSVN/skin/images/Properties.ico");
}

.koSVN_Log_Icon {
    list-style-image: url("chrome://koSVN/skin/images/Log.ico");
}